In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("CKD_Data.csv")
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,157,62.0,70.0,1.025,3.0,0.0,normal,abnormal,notpresent,notpresent,...,39.0,7900,3.9,yes,yes,no,good,no,no,ckd
1,109,54.0,70.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,no,yes,no,good,no,no,ckd
2,17,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,no,no,poor,no,no,ckd
3,347,43.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,43.0,7200,5.5,no,no,no,good,no,no,notckd
4,24,42.0,100.0,1.015,4.0,0.0,normal,abnormal,notpresent,present,...,39.0,8300,4.6,yes,no,no,poor,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,71,46.0,60.0,1.010,1.0,0.0,normal,normal,notpresent,notpresent,...,28.0,14600,3.2,yes,yes,no,good,no,no,ckd
276,106,50.0,90.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,17.0,6500,NaN,yes,yes,no,good,yes,yes,ckd
277,270,23.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,41.0,7200,5.0,no,no,no,good,no,no,notckd
278,348,38.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,44.0,7300,6.4,no,no,no,good,no,no,notckd
279,102,17.0,60.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,52.0,7000,NaN,no,no,no,good,no,no,ckd

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 26 columns):
id                280 non-null int64
age               275 non-null float64
bp                271 non-null float64
sg                244 non-null float64
al                245 non-null float64
su                242 non-null float64
rbc               173 non-null object
pc                230 non-null object
pcc               276 non-null object
ba                276 non-null object
bgr               247 non-null float64
bu                266 non-null float64
sc                268 non-null float64
sod               213 non-null float64
pot               212 non-null float64
hemo              241 non-null float64
pcv               229 non-null float64
wc                203 non-null object
rc                187 non-null object
htn               279 non-null object
dm                279 non-null object
cad               279 non-null object
appet             280 non-null object
pe                280 non-null object
ane               280 non-null object
classification    280 non-null object
dtypes: float64(12), int64(1), object(13)
memory usage: 57.0+ KB

In [4]:
dataset.isna().sum()

id                  0
age                 5
bp                  9
sg                 36
al                 35
su                 38
rbc               107
pc                 50
pcc                 4
ba                  4
bgr                33
bu                 14
sc                 12
sod                67
pot                68
hemo               39
pcv                51
wc                 77
rc                 93
htn                 1
dm                  1
cad                 1
appet               0
pe                  0
ane                 0
classification      0
dtype: int64

In [5]:
from Univariate import Univariate
quan,qual=Univariate.quanQual(dataset)

In [6]:
quan

['id',
 'age',
 'bp',
 'sg',
 'al',
 'su',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hemo',
 'pcv']

In [7]:
qual

['rbc',
 'pc',
 'pcc',
 'ba',
 'wc',
 'rc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [8]:
mmm_iqr=Univariate.MMM_IQR(dataset,quan)

In [9]:
mmm_iqr

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv
Mean,202.929,51.4545,76.0517,1.01744,1.02449,0.438017,150.186,56.9838,3.00616,137.256,4.75425,12.5315,39.1659
Median,202,55,70,1.02,0,0,124,41,1.3,138,4.4,12.7,41
Mode,1,65,70,1.02,0,0,99,46,1.2,135,5,15,52
Q1:25%,110.5,42,70,1.01,0,0,100,27.25,0.9,135,3.9,10.5,33
Q2:50%,202,55,70,1.02,0,0,124,41,1.3,138,4.4,12.7,41
Q3:75%,302.25,65,80,1.02,2,0,171.5,64.75,2.8,141,4.9,14.9,46
99%,393.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q4:100%,399,90,180,1.025,5,5,490,391,76,163,47,17.8,54
IQR,191.75,23,10,0.01,2,0,71.5,37.5,1.9,6,1,4.4,13
1.5Rule,287.625,34.5,15,0.015,3,0,107.25,56.25,2.85,9,1.5,6.6,19.5
Lesser,-177.125,7.5,55,0.995,-3,0,-7.25,-29,-1.95,126,2.4,3.9,13.5
Greater,589.875,99.5,95,1.035,5,0,278.75,121,5.65,150,6.4,21.5,65.5
Min,1,2,50,1.005,0,0,70,10,0.4,4.5,2.7,3.1,9
Max,399,90,180,1.025,5,5,490,391,76,163,47,17.8,54

In [10]:
lesser,greater=Univariate.Outliers(mmm_iqr,quan)

In [11]:
lesser

['age', 'bp', 'sod', 'hemo', 'pcv']

In [12]:
greater

['bp', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot']

The lesser and greater columns are manually checked for possible outliers by checking mean and median. On validating, all the quan columns seems to be fine and all the entered values seem to be valid without possible outliers

In [13]:
for col in quan:
    dataset[col].fillna(dataset[col].mean(),inplace=True)

In [14]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,157,62.0,70.0,1.025000,3.00000,0.000000,normal,abnormal,notpresent,notpresent,...,39.000000,7900,3.9,yes,yes,no,good,no,no,ckd
1,109,54.0,70.0,1.017439,1.02449,0.438017,NaN,NaN,notpresent,notpresent,...,39.165939,NaN,NaN,no,yes,no,good,no,no,ckd
2,17,47.0,80.0,1.017439,1.02449,0.438017,NaN,NaN,notpresent,notpresent,...,39.165939,NaN,NaN,yes,no,no,poor,no,no,ckd
3,347,43.0,60.0,1.025000,0.00000,0.000000,normal,normal,notpresent,notpresent,...,43.000000,7200,5.5,no,no,no,good,no,no,notckd
4,24,42.0,100.0,1.015000,4.00000,0.000000,normal,abnormal,notpresent,present,...,39.000000,8300,4.6,yes,no,no,poor,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,71,46.0,60.0,1.010000,1.00000,0.000000,normal,normal,notpresent,notpresent,...,28.000000,14600,3.2,yes,yes,no,good,no,no,ckd
276,106,50.0,90.0,1.017439,1.02449,0.438017,NaN,NaN,notpresent,notpresent,...,17.000000,6500,NaN,yes,yes,no,good,yes,yes,ckd
277,270,23.0,80.0,1.025000,0.00000,0.000000,normal,normal,notpresent,notpresent,...,41.000000,7200,5.0,no,no,no,good,no,no,notckd
278,348,38.0,80.0,1.020000,0.00000,0.000000,normal,normal,notpresent,notpresent,...,44.000000,7300,6.4,no,no,no,good,no,no,notckd
279,102,17.0,60.0,1.010000,0.00000,0.000000,NaN,normal,notpresent,notpresent,...,52.000000,7000,NaN,no,no,no,good,no,no,ckd

In [15]:
dataset[quan].isnull().sum()

id      0
age     0
bp      0
sg      0
al      0
su      0
bgr     0
bu      0
sc      0
sod     0
pot     0
hemo    0
pcv     0
dtype: int64

In [16]:
df=dataset.drop('wc',axis=1)

In [17]:
df=df.drop('rc',axis=1)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 24 columns):
id                280 non-null int64
age               280 non-null float64
bp                280 non-null float64
sg                280 non-null float64
al                280 non-null float64
su                280 non-null float64
rbc               173 non-null object
pc                230 non-null object
pcc               276 non-null object
ba                276 non-null object
bgr               280 non-null float64
bu                280 non-null float64
sc                280 non-null float64
sod               280 non-null float64
pot               280 non-null float64
hemo              280 non-null float64
pcv               280 non-null float64
htn               279 non-null object
dm                279 non-null object
cad               279 non-null object
appet             280 non-null object
pe                280 non-null object
ane               280 non-null object
classification    280 non-null object
dtypes: float64(12), int64(1), object(11)
memory usage: 52.6+ KB

In [19]:
#df=pd.get_dummies(df,drop_first=True)
#df

In [20]:
df.isnull().sum()

id                  0
age                 0
bp                  0
sg                  0
al                  0
su                  0
rbc               107
pc                 50
pcc                 4
ba                  4
bgr                 0
bu                  0
sc                  0
sod                 0
pot                 0
hemo                0
pcv                 0
htn                 1
dm                  1
cad                 1
appet               0
pe                  0
ane                 0
classification      0
dtype: int64

In [21]:
columns=df.columns
obj=[]
for col in columns:
    if df[col].dtype=="object":
        obj.append(col)
obj

['rbc',
 'pc',
 'pcc',
 'ba',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [22]:
df['rbc'].mode()[0]

'normal'

In [23]:
for col in obj:
    df[col].fillna(df[col].mode()[0],inplace=True)
df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pot,hemo,pcv,htn,dm,cad,appet,pe,ane,classification
0,157,62.0,70.0,1.025000,3.00000,0.000000,normal,abnormal,notpresent,notpresent,...,4.700000,12.6,39.000000,yes,yes,no,good,no,no,ckd
1,109,54.0,70.0,1.017439,1.02449,0.438017,normal,normal,notpresent,notpresent,...,4.754245,11.7,39.165939,no,yes,no,good,no,no,ckd
2,17,47.0,80.0,1.017439,1.02449,0.438017,normal,normal,notpresent,notpresent,...,3.700000,12.1,39.165939,yes,no,no,poor,no,no,ckd
3,347,43.0,60.0,1.025000,0.00000,0.000000,normal,normal,notpresent,notpresent,...,5.000000,17.8,43.000000,no,no,no,good,no,no,notckd
4,24,42.0,100.0,1.015000,4.00000,0.000000,normal,abnormal,notpresent,present,...,4.000000,11.1,39.000000,yes,no,no,poor,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,71,46.0,60.0,1.010000,1.00000,0.000000,normal,normal,notpresent,notpresent,...,4.000000,9.8,28.000000,yes,yes,no,good,no,no,ckd
276,106,50.0,90.0,1.017439,1.02449,0.438017,normal,normal,notpresent,notpresent,...,4.400000,6.0,17.000000,yes,yes,no,good,yes,yes,ckd
277,270,23.0,80.0,1.025000,0.00000,0.000000,normal,normal,notpresent,notpresent,...,4.000000,14.3,41.000000,no,no,no,good,no,no,notckd
278,348,38.0,80.0,1.020000,0.00000,0.000000,normal,normal,notpresent,notpresent,...,3.500000,13.6,44.000000,no,no,no,good,no,no,notckd
279,102,17.0,60.0,1.010000,0.00000,0.000000,normal,normal,notpresent,notpresent,...,4.200000,13.9,52.000000,no,no,no,good,no,no,ckd

In [24]:
df.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [25]:
df.to_csv("Pre_Processed_Data_CKD.csv",index=False)